body {
  background-color: #C3B1E1 !important;
}

.inner {
  background-color: #46246a !important;
  padding: 20px !important;
  border-radius: 12px !important;
  color: white !important;
}

h1, h2, h3, h4, h5, h6 {
  color: white !important;
}
